* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      margin: 2em;
  }

 /* #wrapper {
      width: 80%;
      margin: 0 auto;
  }*/

 /* header {

  }*/

  img {
      width: 80%;
      display: block;
      margin: 0 auto;
  }

  h1 {
      text-align: center;
      font-size: 3em;
      color: #e8541e;
      text-shadow: 2px 2px;
      margin-bottom: 0.5em;
  }

  form {
      display: block; 
      margin: 1.5em auto;
      width: 50%;
      font-size: 1.5em;
      font-family: 'Courier New', Courier, monospace
  }

  input {
      margin-top: 0.5em;
      height: 3em;
      width: 40%;
      font-size: 20px;
  }

.submitbtn {
    margin: 0.5em 20%;
    font-size: 0.8em;
}

table {
    margin: 0 auto;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    border-collapse: collapse;
    text-align: left;
}

.link {
    text-decoration: none;
}

.error {
    color: red;
}

.done {
    text-decoration: line-through;
}
/*footer {
}